In [1]:
import pandas as pd
import numpy as np
from PIL import Image
import matplotlib.pyplot as plt
import requests
from io import BytesIO
import matplotlib.image as mpimg
from tqdm import tqdm
import seaborn as sns

In [3]:
listings = pd.read_csv("/user/p.vonbismarck/u16698/projects/kohn_bismarck/Data/listings.csv")[0:1500]
reviews = pd.read_csv("/user/p.vonbismarck/u16698/projects/kohn_bismarck/Data/reviews.csv")[0:1500]
reviews_meta = pd.read_csv("/user/p.vonbismarck/u16698/projects/kohn_bismarck/Data/reviews.csv.gz")[0:1500]
calendar = pd.read_csv("/user/p.vonbismarck/u16698/projects/kohn_bismarck/Data/calendar.csv.gz")[0:1500]

In [11]:
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,218831,2024-12-25,f,$90.00,NaN,4,90
1,218831,2024-12-26,f,$90.00,NaN,4,90
2,218831,2024-12-27,f,$90.00,NaN,4,90
3,218831,2024-12-28,f,$90.00,NaN,4,90
4,218831,2024-12-29,f,$90.00,NaN,4,90